body {
	background-color: aliceblue;
	color: rebeccapurple;
	font-family: open sans; 
}
h1 { 
	background-color:deepskyblue; 
}

.my-container { 
	border: double;
	border-color: cornflowerblue;
}  

#bottom { 
text-align: left;
	text-decoration:underline
}     

.centering-image {
	text-align: center;
} 

.centering-link {
	text-align: center;
}