@charset "utf-8";

* { padding: 0;
margin: 0;}

body {
	background-color: aliceblue;
	color: rebeccapurple;
	font-family: 'Raleway', sans-serif;
}

header { 
	background-image: url("../images/sea-otterheader.jpg");
	padding-top: 20px;
	padding-bottom: 30px;
	background-size: cover;
	background-repeat: no-repeat;
		background-position: center;
	color: black;
}

.my-container { 
	border: double;
	border-color: cornflowerblue;
	text-align: center;
}  

#paragraph { 
text-align:left;
	padding-left: 80px; 
	padding-right: 80px;
	padding-bottom: 20px;
		
}     

.centering-image {
	text-align: center;
	
} 

.centering-link {
	text-align: center;
}

footer {
	text-align: right;
}